@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap");

* {
	font-family: "JetBrains Mono", monospace;
	box-sizing: border-box;
}

:root[data-theme="light"] {
	--background-color: #ededed;
	--text-color: #212121;
	--link-color: #2196f3;
	--title-color: #ff9800;
	--accent-color: #ff5722;
	--result-color: #ff9800;
	--glowing-color1: #dd3401;
	--glowing-color2: #ff5722;
	--card-color: #d9d9d9;
	--card-shadow: 16px 9px 25px rgba(12, 55, 207, 0.27);
	--card-shadow--hover: 10px 20px 50px rgba(12, 55, 207, 0.5);
	--favorite-btn-color: #2196f3;
}

:root[data-theme="dark"] {
	--background-color: #121212;
	--text-color: #f5f6f7;
	--link-color: #4caf50;
	--title-color: #ff9800;
	--accent-color: #e91e63;
	--result-color: #ff9800;
	--glowing-color1: #77c372;
	--glowing-color2: #cbdf7c;
	--card-color: rgba(217, 217, 217, 0.36);
	--card-shadow: 16px 9px 25px rgba(119, 195, 114, 0.27);
	--card-shadow--hover: 10px 20px 50px rgba(119, 195, 114, 0.5);
	--favorite-btn-color: #ff9800;
}

/* media queries */
:root {
	--mobile: 320px;
	--max-mobile: 767px;
	--tablet: 768px;
	--max-tablet: 1259px;
	--desktop: 1260px;
}

body {
	background: var(--background-color);
	color: var(--text-color);
	transition: all 0.5s ease;
}

p,
h1,
h2,
h3,
li,
ul {
	margin: 0;
	padding: 0;
}
