@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

@font-face {
	font-family: 'RickAndMorty';
	src: url('../fonts/rick-and-morty.ttf') format('truetype');
}

* {
	font-family: 'JetBrains Mono', monospace;
}

body {
	background-color: #333;
}
